*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Nunito Sans", sans-serif;
}

.box {
  margin: 1.2rem;
  width: 90%;
  margin-bottom: 0;
}

header {
  padding: 0.7rem 0 0.7rem 0;
  box-shadow: var(--boxShadow);
  /* background-color: aqua; */
}
.headcontent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  padding-bottom: 1.1rem;
}
header h1 {
  font-size: 1.1rem;
  font-weight: 800;
  /* padding: 1rem 0 1rem 0; */
}
header p {
  font-size: 1rem;
  font-weight: 500;
}
.mode {
  /* background-color: aqua; */
  display: flex;
  gap: 0.5rem;
}
.icon i {
  /* background-color: beige; */
  transform: rotate(-30deg);
  font-size: 0.8rem;
  /* margin-top: -5rem; */
}
.bodyContent {
 margin-top: 2rem;
}

section form {
  /* background-color: aqua; */
  margin: 1.2rem 0 1rem 0;
  border-radius: var(--box_borderRadius);
  width: 75vw;
}
section input {
  border: none;
  outline: none;
  background-image: url("../assets/icon-magnifying-glass-grey.svg");
  background-position: 30px 14px;
  background-repeat: no-repeat;
  padding: 1rem 0 1rem 5rem;
  border-radius: var(--box_borderRadius);
  width: 85%;
  box-shadow: var(--boxShadow);
}

#darkGrey{
  background-image: url('../assets/icon-magnifying-glass-white.svg');
}
#white::placeholder {
  color: var(--Dark_Gray);
}
#darkGrey::placeholder {
  color: var(--White);
}

.dropdown {
  padding-right: 1rem;
  box-shadow: var(--boxShadow);
  border-radius: var(--box_borderRadius);
  margin: 2rem auto 0.5rem 0;
  /* background-color: aqua; */
  width: 75vw;

}

select {
  border: none;
  outline: none;
  border-radius: var(--box_borderRadius);
  padding: 1.1rem;
  cursor: pointer;
}

select option {
  border: none;
  outline: none;
  /* font-size: 5rem; */
  /* background-color: var(--White); */
  /* background-color: palegoldenrod; */
}

.countries {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  /* background-color: aqua; */
}

.countryBox {
  box-shadow:var(--boxShadow);
  /* background-color: aqua; */
  border-radius: var(--box_borderRadius);
  width: 290px;
  margin-top: 1.8rem;
}
.countryBox img {
  width: 290px;
  height: 180px;
  border-top-right-radius: var(--box_borderRadius);
  border-top-left-radius: var(--box_borderRadius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.databox {
  padding: 1.4rem;
  /* background-color: aqua; */
}
.countryBox h4 {
  font-size: 1.3rem;
  font-weight: 800;
  /* background-color: aqua; */
  /* margin-top: 0.5rem; */
  margin-bottom: 1.1rem;
}

.countryBox p {
  /* background-color: aqua; */
  margin: 0;
  margin-top: 0.5rem;
}

.countryBox p span {
  font-weight: 600;
  font-size: 0.9rem;
  margin-right: 0.3rem;
}

.handler {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.handler img{
  width: 70%;
  /* margin: auto; */

}
.handler p {
  font-size: 1.3rem;
  margin-top: 2rem;
}


@media (min-width: 768px) {
  .box {
    margin: 1.2% 5% 0% 5%;
    width: 90%;
    /* background-color: aqua; */
  }
  header {
    padding-top: 1rem;
  }
  header h1 {
    font-size: 1.7rem;
    font-weight: 900;
  }
  header p {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .icon i {
    font-size: 1.2rem;
  }

  .find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    /* background-color: aqua; */
  }
  section form {
    width: 31vw;
    /* width: ; */
    margin-right:2rem ;
  }
  section input {
    padding: 1.3rem 0.7rem 1.3rem 5rem;
    background-position: 30px 20px;
    background-size: 1.2rem;
    font-size: 1rem;
    /* width: 120%; */
  }
  .dropdown {
    margin: 0;
    max-width: 16rem;
  }
  select {
    padding: 1.2rem;
  }
  select,
  select option {
    font-size: 1.1rem;
  }

  .countries {
    gap: 1.5rem;
    justify-content: flex-start;
  }

  .countryBox {
    margin-left: auto;
    margin-right: auto;
  }

  .handler p {
    font-size: 2rem;
    margin-top: 2rem;
  }
  .handler img{
    width: 30%;
    margin-bottom: 0;
  
  }
  
  
}

@media (min-width: 480px) and (max-width: 767px) {
  header h1 {
    font-size: 1.3rem;
  }
  header p {
    font-size: 1.1rem;
  }
}